

@font-face {
    font-family: "Lato-Regular"; 
    src: url("../fonts/Lato-Regular.ttf"); 
}

@font-face {
    font-family: "Lato-Bold"; 
    src: url("../fonts/Lato-Bold.ttf"); 
}

@font-face {
    font-family: "Lato-Hairline"; 
    src: url("../fonts/Lato-Hairline.ttf"); 
}

@font-face {
    font-family: "Lato-Light"; 
    src: url("../fonts/Lato-Light.ttf"); 
}

@font-face {
    font-family: "Lato-Medium"; 
    src: url("../fonts/Lato-Medium.ttf"); 
}

@font-face {
    font-family: "Lato-Heavy"; 
    src: url("../fonts/Lato-Heavy.ttf") 
}

@font-face {
    font-family: "Lato-Semibold"; 
    src: url("../fonts/Lato-Semibold.ttf") 
}

@font-face {
    font-family: "PTSans-Regular"; 
    src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: "PTSans-Italic"; 
    src: url("../fonts/PTSans-Italic.ttf");
}